<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the DNA Testing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to our DNA Testing System</h1>
    <p>If you need the function, go to this host:</p>
    <ul>
        <p>Loacl_api</p>
        <li><a href="{{ ('identify') }}">Identification Host <p>http://127.0.0.1:5000/identify</p></a></li>
        <li><a href="{{ ('compare') }}">Comparison Host  <p> http://127.0.0.1:5000/compare</p></a></li>
        <li><a href="{{ ('missing') }}">Missing Person Search   <p>http://127.0.0.1:5000/missing</p></a></li>
        <li><a href="{{ ('predict') }}">Model for Paternity Test  <p>http://127.0.0.1:5000/predict</p></a></li>
    </ul>
</body>
</html>
